@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}
<br />
<h1>@ViewData["Title"]</h1>

<h2>Our Commitment to Privacy</h2>

<p>Spinutech Inc. is committed to respecting and protecting your privacy as a visitor to our website at www.spinutech.com. We take the issue of privacy very seriously and value the trust you place in us each time you use our services and access this website. This privacy statement describes the practices and policies we have put into place to safeguard your personal information that may be gathered and used as you visit our website.</p>

<p>These provisions may be changed from time to time and without notice at the sole discretion of Spinutech Inc. and as provided by applicable law. You should check this privacy statement frequently for any such changes, but, in any case, your continued access or use of the site shall constitute acceptance of any modifications of the privacy statement. If you have any questions about our privacy policy, we encourage you to contact us using any of the methods outlined at the end of our privacy statement.</p>

<h3>Who is Collecting the Information?</h3>

<p>Spinutech Inc. is collecting information on this website as outlined in this privacy statement.</p>

<h3>What Information Do We Collect?</h3>

<p>
    <em>Automatic Collection of Information:</em><br>
    If you do nothing during your visit but browse through the website or download information, our system will automatically gather and store certain information about your visit. This information does not identify you personally and is used in an aggregate way to help us improve our website and tell us the number of visitors to our site each day. Our web server automatically collects and records the following information:
</p>

<ul>
    <li>The visitor's domain name, but not the email address.</li>
    <li>The visitor's IP address.</li>
    <li>Aggregate information on what pages are accessed.</li>
    <li>The name and release number of web browser software used.</li>
    <li>The operating system used.</li>
    <li>The date and time you access our site.</li>
    <li>The address of the website that linked to us (referral URL).</li>
    <li>Hashed identifiers derived from email addresses for the purposes of cross-device tracking for targeted advertising.</li>
</ul>

<p>
    <em>Permission-based Collection of Information:</em><br>
    At different places on our site, depending upon the feature you use (i.e. contact form), you may be asked to volunteer personal information such as your name, email address, mailing address and telephone number. We also collect the email addresses of those who communicate with us via email.
</p>

<p>
    <em>Advertising and Cookies:</em><br>
    We use third-party cookies, web tags, and similar technologies to collect or receive information on our website and other digital platforms. Through the use of these technologies, Spinutech Inc. and its advertising partners may collect anonymized information from visitors to our website, such as the date and time of visit, IP addresses, pages visited, browser versions, device type, etc. This information is used for analytics, interest-based advertising, measuring advertising effectiveness and troubleshooting purposes. As a user of our websites, you can opt-out of the collection and use of your information for ad targeting by going to clicking <a aria-label="You can opt-out of the collection and use of your information for ad targeting" href="http://www.aboutads.info/" target="_blank" rel="noopener">here<span class="visuallyhidden"> (opens in a new window)</span></a>.
</p>

<p>
    <em>Analytics:</em><br>
    We use Google Analytics to better understand how visitors interact with our websites. This service provides non-personally identifiable data including but not limited to data on where visitors came from and what actions they took on the websites. We use this information to improve your experience. Please click <a aria-label="learn more about this service and how to opt-out of data collection by Google Analytics" href="https://support.google.com/analytics/topic/2919631?hl=en&amp;ref_topic=1008008" target="_blank" rel="noopener">here<span class="visuallyhidden"> (opens in a new window)</span></a> to learn more about this service and how to opt-out of data collection by Google Analytics.
</p>

<h3>How Do We Use the Information We Collect?</h3>

<p>The information we gather automatically and with your permission during your visit to our website is used in the following ways:</p>

<ul>
    <li>Monitor, review, measure, and analyze website utilization.</li>
    <li>Modify and enhance the website.</li>
    <li>Improve the content and design of our website.</li>
    <li>Respond to your requests.</li>
    <li>Distribute news and other information requested by web visitors.</li>
</ul>

<h3>With Whom Will the Information be Shared?</h3>

<p>We will only share your information outside our organization for the following purposes:</p>

<ul>
    <li>To provide products or services you’ve requested, with your permission.&nbsp;</li>
    <li>To service providers and other third parties we use to support our business.</li>
    <li>To investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person as required by law.</li>
    <li>If Spinutech Inc is acquired by or merged with another company - we’ll notify you well before any info about you is transferred and becomes subject to a different privacy policy.</li>
</ul>

<h3>Access and Correction of Personal Information</h3>

<p>
    <em>Review of Personal Information</em><br>
    Site visitors may not access the information we have collected and maintained about them.
</p>

<h3>Our Children's Privacy Policy</h3>

<p>Our site does not feature information and services of interest to children 13 years and under, and we do not collect personal information from anyone we know is a child under 13.</p>

<h3>Links to Other Sites</h3>

<p>Websites often provide a number of links that offer direct access to other useful or interesting websites holding potential value to site visitors. Inclusion of the other sites by links does not imply any endorsement of the material or information on the other sites. Users are encouraged to review the privacy policy of each linked site before sharing personal information.</p>

<p>This site includes links to non-affiliated external websites. We encourage users to review the privacy policy of each linked site, as we cannot be responsible for the privacy practices of other sites.</p>

<p>We will make every effort to notify you when you are leaving our site and you may be subjected to different privacy policies than those we have established for our website.</p>

<h3>Security of Communications</h3>

<p>We recognize that many people are concerned about the privacy and protection of information as it is transmitted over the Internet. You should keep in mind that the possibility exists for unauthorized individuals to intercept any e-mail message you send over the Internet. In some cases, information can be encrypted (scrambled or encoded) to make it very difficult to read if it is intercepted during communication. Certain technology and practices allow websites to provide an increased level of security for your personal and health-related information when appropriate.</p>

<p>To enhance the level of security for communication and the transmission of personal information, we have appropriate security measures in place in our physical facilities to protect against the loss, misuse or alteration of information that we have collected from you at our site.</p>

<h3>E-commerce, Online Donations, and Online Shopping</h3>

<p>At this time, we do not process credit card payments for donations, merchandise or services on our website.</p>

<h3>Changes in Our Privacy Policy</h3>

<p>From time to time, we may use customer information for new, unanticipated uses not previously disclosed in our privacy notice. If our information practices change at some time in the future, we will post the policy changes to our website to notify you of these changes and provide you with the ability to opt-out of these new uses. If you are concerned about how your information is used, you should check back at our website periodically.</p>

<h3>Conditions of Use</h3>

<p>Your access and use of the site is subject to this Privacy Statement, Spinutech Inc. disclaimer, Spinutech Inc. Notice of Privacy Practices, and other website conditions including, but not limited to, limitations on damages and all applicable laws, including the law of the States in which we are located.</p>

<h3>Web Site Contact Information</h3>

<p>
    319-419-1168<br>
    Spinutech Inc.<br>
    201 Washington Street<br>
    Cedar Falls, Iowa 50613
</p>

<h3>Modification Date</h3>

<p>This privacy statement was last modified on July 26, 2019.</p>